name: pull_request
on: pull_request
jobs:
  codegen:
    name: Code format check
    runs-on: ubuntu-22.04
    steps:
      - name: Cancel Previous Actions
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}
      - name: Free disk space
        run: |
          echo "Before clearing disk space:"
          df -h

          # https://github.com/actions/virtual-environments/issues/709
          sudo apt-get clean

          # Clean up pre-installed tools
          # https://github.com/actions/virtual-environments/issues/1918
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf $AGENT_TOOLSDIRECTORY

          echo "After clearing disk space:"
          df -h
      - name: Set up Go 1.18.1
        uses: actions/setup-go@v4
        with:
          go-version: 1.18.1
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check code format
        run: |
          ./ci/check-code-format.sh
