name: pull_request

on:
  push:
    branches:
    - 'master'
    - 'main'
  pull_request:

jobs:
  test:
    name: Tests
    runs-on: ubuntu-22.04
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.11.0
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - uses: google-github-actions/setup-gcloud@a48b55b3b0eeaf77b6e1384aab737fbefe2085ac
      with:
        version: '290.0.1'
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
      name: Gcloud Login
    - name: Install Trivy
      run: |
        wget https://github.com/aquasecurity/trivy/releases/download/v0.18.3/trivy_0.18.3_Linux-64bit.deb
        sudo dpkg -i trivy_0.18.3_Linux-64bit.deb
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: "go.mod"
    - name: Run tests
      env:
        GITHUB_TOKEN: ${{ secrets.CLOUDBUILD_GITHUB_TOKEN }}
      run: |
        go install -v github.com/onsi/ginkgo/ginkgo@v1.16.5 && export PATH=$PATH:$(go env GOPATH)/bin/
        ginkgo -r -failFast -randomizeSuites -randomizeAllSpecs -skipPackage=./installutils/kubeinstall,./debugutils/test
    - uses: testspace-com/setup-testspace@v1
      with:
        domain: solo-io.testspace.com
      if: ${{ always() && github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    - name: Push result to Testspace server
      run: |
        testspace push --verbose "**/junit.xml"
      if: ${{ always() && github.event_name == 'push' && github.ref == 'refs/heads/master' }}