name: pull_request

on:
  push:
    branches:
    - 'master'
    - 'main'
  pull_request:

jobs:
  test:
    name: Tests
    runs-on: ubuntu-22.04
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup GCloud Auth
      uses: google-github-actions/auth@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - name: Setup GCloud SDK
      uses: google-github-actions/setup-gcloud@v1.1.0
      with:
        version: '>= 363.0.0'
        project_id: ${{ secrets.GCP_PROJECT_ID }}
    - name: Install Trivy
      run: |
        wget https://github.com/aquasecurity/trivy/releases/download/v0.18.3/trivy_0.18.3_Linux-64bit.deb
        sudo dpkg -i trivy_0.18.3_Linux-64bit.deb
    - name: Set up Go 1.18.1
      uses: actions/setup-go@v1
      with:
        go-version: 1.18.1
    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go
    - name: Run tests
      env:
        GITHUB_TOKEN: ${{ secrets.CLOUDBUILD_GITHUB_TOKEN }}
        TEST_PKG: ./... # Run all tests
      run: make test
    - uses: testspace-com/setup-testspace@v1
      with:
        domain: solo-io.testspace.com
      if: ${{ always() && github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    - name: Push result to Testspace server
      run: |
        testspace push --verbose "**/junit.xml"
      if: ${{ always() && github.event_name == 'push' && github.ref == 'refs/heads/master' }}
